<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#1.-야후-파이낸스로-주가-구하기" data-toc-modified-id="1.-야후-파이낸스로-주가-구하기-1">1. 야후 파이낸스로 주가 구하기</a></span></li><li><span><a href="#2.-MinMaxScaler-함수-적용" data-toc-modified-id="2.-MinMaxScaler-함수-적용-2">2. MinMaxScaler 함수 적용</a></span></li></ul></div>

# 1. 야후 파이낸스로 주가 구하기

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas_datareader import data as pdr
import yfinance as yf
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, LSTM, Dropout

In [9]:
def StockData(code, date):
    yf.pdr_override()
    df = pdr.get_data_yahoo(f'{code}.KS', start=f'{date}')
    df = df[['Open','High','Low','Volume','Close']]
    return df

In [18]:
df = StockData('005930', '2019-01-01')     # 삼성전자
df

[*********************100%***********************]  1 of 1 completed

               Open     High      Low    Volume    Close
Date
2019-01-02  39400.0  39400.0  38550.0   7847664  38750.0
2019-01-03  38300.0  38550.0  37450.0  12471493  37600.0
2019-01-04  37450.0  37600.0  36850.0  14108958  37450.0
2019-01-07  38000.0  38900.0  37800.0  12748997  38750.0
2019-01-08  38000.0  39200.0  37950.0  12756554  38100.0
...             ...      ...      ...       ...      ...
2021-01-27  86600.0  87700.0  85600.0  26423070  85600.0
2021-01-28  83200.0  85600.0  83200.0  31859808  83700.0
2021-01-29  84500.0  85000.0  82000.0  39615978  82000.0
2021-02-01  81700.0  83400.0  81000.0  28046832  83000.0
2021-02-02  84100.0  86400.0  83700.0  25948191  84400.0

[515 rows x 5 columns]

# 2. MinMaxScaler 함수 적용

계산 시간 단축을 위해 OHLVC 데이터를 0 ~1 사이의 값으로 변환

In [12]:
def MinMaxScaler(data):
    numerator = data - np.min(data, 0)
    denominator = np.max(data, 0) - np.min(data, 0)
    return numerator / (denominator + 1e-7)     # 0으로 나누기 에러 방지

In [13]:
df_x = MinMaxScaler(df)
df_y = df_x[['Close']]

x = df_x.values.tolist()
y = df_y.values.tolist()

In [14]:
df_x.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 515 entries, 2019-01-02 to 2021-02-02
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    515 non-null    float64
 1   High    515 non-null    float64
 2   Low     515 non-null    float64
 3   Volume  515 non-null    float64
 4   Close   515 non-null    float64
dtypes: float64(5)
memory usage: 24.1 KB

In [15]:
df_y.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 515 entries, 2019-01-02 to 2021-02-02
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   515 non-null    float64
dtypes: float64(1)
memory usage: 8.0 KB

In [16]:
x[-1]

[0.8826868495725966,
 0.8243243243229319,
 0.889838556503533,
 0.2873357267687234,
 0.8767507002784748]

In [17]:
y[-1]

[0.8767507002784748]